body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/******* slider css ********/

.swiper-slide {
  width: 359px !important;
}

.swiper-wrapper {
  position: initial !important;
}

.swiper-button-next {
  top: 10% !important;
  right: 10% !important;
  color: #000 !important;
  background-color: #E3B748;
  padding: 22px 32px;
  border-radius: 50%;
}

.swiper-button-prev {
  top: 10% !important;
  right: 20% !important;
  left:auto !important;
  color: #000 !important;
  background-color: #E3B748;
  padding: 22px 32px;
  border-radius: 50%;
}

.swiper-button-disabled {
  background-color: #E6E6E6;
  ;
}
.swiper {
  position: initial !important;
}

/********* accordion css ********/

.css-yw020d-MuiAccordionSummary-expandIconWrapper > svg {
  width: 28px !important;
  height: 28px !important;
  color:#E3B748;
}

.css-yw020d-MuiAccordionSummary-expandIconWrapper.Mui-expanded {
  display: none;
}

.css-1elwnq4-MuiPaper-root-MuiAccordion-root{
  background-color: #1d1d1d !important;
}

.css-sh22l5-MuiButtonBase-root-MuiAccordionSummary-root{
  color: #fff !important;
  font-size: 24px !important;
  font-weight: 600 !important;
  line-height: 24px !important;
  letter-spacing: 0em !important;
  text-align: left !important;
}

.css-pwcg7p-MuiCollapse-root {
  color: #ffffff30 !important;
  font-size: 18px !important;
  font-weight: 500 !important;
  line-height: 29px !important;
  letter-spacing: 0em !important;
  text-align: left !important;  
}

.css-o4b71y-MuiAccordionSummary-content {
  margin: 20px 0px !important;
}

/* News Letter compoenent css */

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input{
  border: none !important;
}
.css-1d3z3hw-MuiOutlinedInput-notchedOutline{
  border: none !important;
}

.css-18mw8gn-MuiFormControl-root:nth-child(1){
  border-radius: 8px 0px 0px 8px !important;
}

.css-sghohy-MuiButtonBase-root-MuiButton-root {
  border-radius: 0px, 8px, 8px, 0px !important;
  background-color: #E3B748 !important;
  color: #000 !important;
}